@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}
@-ms-viewport {
  width: device-width;
}
footer,
header,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h2,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
a {
  color: #ecdcc6;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #d9b98d;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
img {
  vertical-align: middle;
  border-style: none;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .navbar-expand-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md > .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}
h2,
h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h2 {
  font-size: 2rem;
}
h5 {
  font-size: 1.25rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1366px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 80%;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-10,
.col-sm-12,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-12,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
@media (min-width: 576px) {
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #dfc5a0;
  border-color: #dcbf96;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 220, 198, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(236, 220, 198, 0.5);
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #010104;
  border-color: black;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(15, 16, 41, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(15, 16, 41, 0.5);
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0b2e13;
  border-color: #09240f;
}
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(21, 87, 36, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(21, 87, 36, 0.5);
}
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #ecdcc6;
  border-color: #ecdcc6;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 220, 198, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(236, 220, 198, 0.5);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0f1029;
  border-color: #0f1029;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(15, 16, 41, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(15, 16, 41, 0.5);
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(21, 87, 36, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(21, 87, 36, 0.5);
}
.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.bg-white {
  background-color: #fff !important;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.collapse:not(.show) {
  display: none;
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}
@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@font-face {
  font-family: "LineIcons";
  src: url(/themes/owesttheme/assets/fonts/LineIcons.eot?ibaccn=);
  src: url(/themes/owesttheme/assets/fonts/LineIcons.eot?ibaccn=#iefix) format("embedded-opentype"),
    url(/themes/owesttheme/assets/fonts/LineIcons.ttf?ibaccn=) format("truetype"),
    url(/themes/owesttheme/assets/fonts/LineIcons.woff?ibaccn=) format("woff"),
    url(/themes/owesttheme/assets/fonts/LineIcons.svg?ibaccn=#LineIcons) format("svg");
  font-weight: normal;
  font-style: normal;
}
button:focus {
  outline: none;
}
.bg-white {
  background-color: #0f1029 !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 5px;
  padding: 20px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-brand img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 115px;
}
.navbar-brand.main-logo img {
  width: 45px;
}
.navbar-brand.sub-logo img {
  width: 98px;
}
.navbar-expand-md #navbarCollapse ul:first-of-type {
  margin-right: auto !important;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li > a {
  display: block;
  color: #5e5a54;
  font-size: 0.9em;
  font-family: "DarbySansPosterWeb", "Segoe Ui";
  padding: 5px 0px;
  margin-left: 30px;
  position: relative;
  text-transform: uppercase;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li > a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ecdcc6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li > a:hover::before {
  width: 50%;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li > a:hover,
.navbar-expand-md #navbarCollapse ul:first-of-type > li > a:hover::before {
  color: #ecdcc6;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li.open > a {
  color: #ecdcc6;
}
.navbar-expand-md #navbarCollapse ul:first-of-type > li.open > a::before {
  color: #ecdcc6;
  width: 50%;
}
.navbar-toggler-container {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: right;
}
.navbar-toggler-container .navbar-toggler {
  background: transparent;
  border-radius: 0px;
  margin: 5px;
  cursor: pointer;
  padding: 15px 10px;
}
.navbar-toggler-container .navbar-toggler:active {
  border: 1px solid #7c6844;
  color: #7c6844;
}
.navbar-toggler-container .navbar-toggler span {
  background-color: #fff;
  width: 24px;
  height: 4px;
  position: relative;
  display: block;
}
.navbar-toggler-container .navbar-toggler span::before,
.navbar-toggler-container .navbar-toggler span::after {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 4px;
  position: absolute;
  display: block;
}
.navbar-toggler-container .navbar-toggler span::before {
  top: -8px;
}
.navbar-toggler-container .navbar-toggler span::after {
  top: 8px;
}
.headerContact {
  margin-right: 3rem;
  font-size: 1.25rem;
}
.headerContact i {
  margin-right: 0.5rem;
  font-size: 1.7rem;
  display: inline-block;
  vertical-align: baseline;
}
.headerContact a {
  color: #fff;
}
footer .footer-Content {
  background-color: #161730;
  padding: 1.5em 0;
  color: #546e7a;
}
footer hr {
  width: 212px;
  height: 1px;
  background-color: #22243c;
  margin: 12px auto 8px;
}
.footer-social li {
  display: inline-block;
  margin-right: 5px;
}
.footer-social li a {
  color: #ecdcc6;
  font-size: 0.8em;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer-social li .facebook:hover {
  color: #3b5998;
}
.footer-social li .google-plus:hover {
  color: #dd4b39;
}
#copyright {
  padding: 20px 0 10px;
  color: #ecdcc6;
}
#copyright p {
  margin-bottom: 0;
  line-height: 40px;
  font-size: 0.9em;
  font-family: "DarbySansPosterWeb", "Segoe Ui", sans-serif;
  text-transform: uppercase;
}
#aboutUs {
  background: url(/themes/owesttheme/assets/img/about/aboutbg.jpg) center center no-repeat;
  background-size: cover !important;
  position: relative;
  padding: 30px 0;
}
#aboutUs::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(15, 16, 41, 0.7)), to(#0f1029));
  background-image: linear-gradient(to right, rgba(15, 16, 41, 0.7), #0f1029);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#amenitiescarousel {
  margin: 50px 0;
}
#amenitiescarousel .owl-stage-outer {
  z-index: 15;
}
.amenities-item {
  margin: 15px;
  text-align: center;
}
.amenities-item .author {
  display: block;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.amenities-item .author:hover {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}
.amenities-item .author .img-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.amenities-item .author .img-thumb img {
  border-radius: 50%;
  width: 90%;
  opacity: 0.9;
  padding: 8px;
  border: 5px solid #151630;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 auto;
}
.amenities-item .author .img-thumb span {
  position: absolute;
  top: 12px;
  left: calc(5% + 12px);
  width: calc(90% - 24px);
  height: calc(100% - 24px);
  background-color: rgba(22, 23, 48, 0.95);
  border-radius: 50%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.amenities-item .author .author-info {
  padding: 20px 0;
}
.amenities-item .author .author-info h2 {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 0;
}
.amenities-item .author .author-info h2 a {
  color: #ecdcc6;
}
.amenities-item .author .author-info h2 a:hover {
  color: rgba(250, 226, 231, 0.8);
}
.owl-carousel.owl-theme .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev,
.owl-carousel.owl-theme .owl-nav button.owl-next {
  display: inline-block;
  position: relative;
  background-color: rgba(26, 28, 52, 0.89);
  padding: 25px !important;
  z-index: 16;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev:hover,
.owl-carousel.owl-theme .owl-nav button.owl-next:hover {
  background-color: rgba(124, 104, 68, 0.6);
}
.owl-carousel.owl-theme .owl-nav button.owl-prev:hover i:before,
.owl-carousel.owl-theme .owl-nav button.owl-next:hover i:before {
  color: #fff;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev i,
.owl-carousel.owl-theme .owl-nav button.owl-next i {
  display: block;
  font-size: 1.5rem;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev {
  left: calc(68px - 50vw);
}
.owl-carousel.owl-theme .owl-nav button.owl-next {
  right: calc(68px - 50vw);
}
#contactUs {
  background: #161730;
}
#contactUs .form-item {
  margin-bottom: 20px;
}
#contactUs input,
#contactUs textarea {
  width: 100%;
  padding: 15px 20px;
  font-size: 0.9em;
  font-family: "Segoe UI";
  color: #ecdcc6;
  border-radius: 0px;
  border: 1px solid transparent;
  background-color: #2c2b3f;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#contactUs input:focus,
#contactUs textarea:focus {
  border: 1px solid #ecdcc6;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #2c2b3f;
  color: #ecdcc6;
}
#contactUs textarea {
  border-radius: 0px !important;
}
#contactUs .button {
  background-color: #434150;
  border-color: #434150;
  width: 100%;
  font-size: 0.9em;
  position: relative;
  z-index: 1;
  padding: 12px 32px;
  border-radius: 0px;
  margin-bottom: 0;
}
#contactUs .button:disabled {
  opacity: 1;
}
#contactUs .button:focus,
#contactUs .button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: #fff;
}
#contactUs .form-actions {
  position: relative;
}
#contactUs .form-actions:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(236, 220, 198, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#contactUs .form-actions:hover .button {
  color: #fff;
  cursor: pointer;
}
#contactUs .form-actions:hover::after {
  width: 100%;
  pointer-events: none;
}
#contactinfo h2 {
  color: #fff !important;
}
.contact-info {
  margin-bottom: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.contact-info i {
  font-size: 2.22em;
  color: #ecdcc6;
  margin-right: 1em;
  padding-top: 10px;
}
.contact-info h5 {
  margin-top: 5px;
  font-size: 1.1em;
  color: #fff;
  text-transform: capitalize;
}
.contact-info p {
  font-size: 0.9em;
  margin-bottom: 0;
  color: #fff;
}
.contact-info p.tel-size {
  font-size: 1.1em;
}
.contact-info a {
  color: #fff !important;
}
.captcha {
  margin-bottom: 20px;
}
#location {
  position: relative;
  padding: 30px 0;
}
.ul-list {
  margin: 5px 0 30px;
}
.ul-list li {
  list-style-type: square;
  margin: 0 16px;
}
@font-face {
  font-family: "DarbySansPosterWeb";
  src: url(/themes/owesttheme/assets/fonts/DarbySansPosterWeb-Regular.eot);
  src: url(/themes/owesttheme/assets/fonts/DarbySansPosterWeb-Regular.eot#iefix) format("embedded-opentype"),
    url(/themes/owesttheme/assets/fonts/DarbySansPosterWeb-Regular.woff) format("woff"),
    url(/themes/owesttheme/assets/fonts/DarbySansPosterWeb-Regular.ttf) format("truetype"),
    url(/themes/owesttheme/assets/fonts/DarbySansPosterWeb-Regular.svg#DarbySansPosterWeb-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url(/themes/owesttheme/assets/fonts/icomoon.eot?o7bdc9=);
  src: url(/themes/owesttheme/assets/fonts/icomoon.eot?o7bdc9=#iefix) format("embedded-opentype"),
    url(/themes/owesttheme/assets/fonts/icomoon.ttf?o7bdc9=) format("truetype"),
    url(/themes/owesttheme/assets/fonts/icomoon.woff?o7bdc9=) format("woff"),
    url(/themes/owesttheme/assets/fonts/icomoon.svg?o7bdc9=#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Segoe UI", "Open Sans", sans-serif;
  color: #ecdcc6;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background: #0f1029;
  overflow-x: hidden;
  position: relative;
}
p {
  font-size: 1em;
  color: #ecdcc6;
  line-height: 1.7em;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  margin-bottom: 30px;
}
a:hover,
a:focus {
  color: #ecdcc6;
}
a {
  color: #ecdcc6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h2,
h5 {
  font-family: "DarbySansPosterWeb", sans-serif;
  font-weight: 700;
  color: #ecdcc6;
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}
.mobile-show {
  display: block;
}
.noMrgB {
  margin-bottom: 0;
}
.section {
  padding: 150px 0 !important;
}
.section-header {
  color: #ecdcc6;
  margin-bottom: 40px;
  position: relative;
}
.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "DarbySansPosterWeb", "Segoe Ui", sans-serif;
  font-weight: normal;
  color: #ecdcc6;
  position: relative;
}
button:focus {
  outline: none !important;
}
@media (min-width: 768px) {
  body {
    font-size: 15px;
  }
  .mobile-show {
    display: none;
  }
  .navbar-expand-md #navbarCollapse ul:first-of-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #aboutUs {
    position: relative;
    padding: 5% 0;
  }
  #aboutUs::before {
    content: "";
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(15, 16, 41, 0)),
      color-stop(rgba(15, 16, 41, 0)),
      color-stop(rgba(15, 16, 41, 0.8)),
      to(#0f1029)
    );
    background-image: linear-gradient(
      to right,
      rgba(15, 16, 41, 0),
      rgba(15, 16, 41, 0),
      rgba(15, 16, 41, 0.8),
      #0f1029
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  #location {
    position: relative;
    padding: 5% 0;
  }
  #location::before {
    content: "";
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(15, 16, 41, 0)),
      color-stop(rgba(15, 16, 41, 0)),
      color-stop(rgba(15, 16, 41, 0.8)),
      to(#0f1029)
    );
    background-image: linear-gradient(
      to left,
      rgba(15, 16, 41, 0),
      rgba(15, 16, 41, 0),
      rgba(15, 16, 41, 0.8),
      #0f1029
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .contact-info {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .navbar-expand-md #navbarCollapse ul:first-of-type > li > a {
    padding: 12px 4px 5px;
    font-size: 12px;
    margin-left: 5px;
  }
  .navbar-expand-md #navbarCollapse ul:first-of-type > li > a::before {
    left: 5px;
  }
  .navbar-expand-md .navbar-brand {
    margin-right: 0;
  }
  .headerContact {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .headerContact i {
    font-size: 1rem;
    margin-right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1023.98px) {
  .navbar-expand-md #navbarCollapse ul:first-of-type > li > a {
    padding: 12px 4px 5px;
    font-size: 13px;
    margin-left: 5px;
  }
  .navbar-expand-md #navbarCollapse ul:first-of-type > li > a::before {
    left: 5px;
  }
  .navbar-expand-md .navbar-brand {
    margin-right: 0;
  }
  .headerContact {
    margin-right: 0.5rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  .navbar-brand.main-logo img {
    width: 55px;
  }
  .navbar-brand.sub-logo img {
    width: 110px;
    max-width: 200px;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
  .navbar-brand.main-logo img {
    width: 100px;
  }
  .navbar-brand.sub-logo img {
    width: 212px;
  }
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ================================================================================================================= */


.Modern-Slider {
  background: #000;
  overflow: hidden;
}

.Modern-Slider .item .img-fill {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background: #000;
}

.Modern-Slider .item .img-fill > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* === arrows style ==== */

.Modern-Slider .NextArrow,
.Modern-Slider .PrevArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 45px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  border: none;
  outline: none;
  margin-top: -22.5px;
  text-align: center;
  color: #fff;
  z-index: 5;
  cursor: pointer;
  transition: all 0.5s;
}

.Modern-Slider .NextArrow:before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.Modern-Slider .PrevArrow {
  left: 20px;
}

.Modern-Slider .PrevArrow:before {
  content: "\f053";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* === dots style === */

.Modern-Slider .slick-dots {
  position: absolute;
  height: 50px;
  bottom: 0px;
  width: 100%;
  left: 0px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
}

.Modern-Slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 2.5px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #fff;
  border-radius: 50%;
}

.Modern-Slider .slick-dots li.slick-active {
  background: #fff;
}

.Modern-Slider .slick-dots li a {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 120px;
  height: 75px;
  display: block;
  visibility: hidden;
  margin-left: -60px;
  margin-bottom: 15px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  outline: none;
  transition: visibility 0.5s linear 0.5s;
  animation: fadeOut 0.5s both;
}

.Modern-Slider .slick-dots li a:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 100%;
  width: 0;
  height: 0;
  border: 8px solid Transparent;
  border-top-color: #fff;
}

.Modern-Slider .slick-dots li:hover a {
  visibility: visible;
  transition-delay: 0s;
  animation: fadeIn 0.5s both;
}

.Modern-Slider .slick-dots li a img {
  width: 100%;
  height: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left /* If RTL Make This Right */;
  height: 100%;
  min-height: 1px;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}


nav#nav {
  padding: 0.5rem 0 !important;
}

.goTop_btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: #fff;
  -webkit-box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  padding-top: 0.1rem;
  display: none;
  z-index: 99999999;
}
.goTop_btn button {
  background: none;
  border: none;
  cursor: pointer;
}
.goTop_btn i {
  color: #0f1029;
  font-size: 1.2rem;
}
